@charset "UTF-8";

/*MOBILE*/ @media only screen and (min-width:300px) and (max-width:767px) {
    /*Fonts*/
    @import url();
    /*Font Library*
    *Place fonts here*/
        @import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
    

    /*HTML Styles*/
        * {
            padding: 0;
            margin: 0;
        }

        .grid-container {
            display: grid;
            grid-template-rows: 5% 10% 20% 20% 20% 10% 20% 7% 1% 1%;
            grid-template-columns: 25% 25% 25% 25%;
            width: 100%;
        }

    /*Nav Styles*/
        .navigation-bar {
            grid-row: 1/2;
            grid-column: 1/5;
            background-color: #FC4445;
            font-size: 1.8vw;
            padding: 1%;
            padding-top: 2%;
            height: 100%;
            text-align: center;
            font-family: 'Josefin Sans', sans-serif;
        }

        .navigation-logo {
            width: 4.2%;
            left: 31%;
            top: 1.2%;
            position: absolute;
            transition: 0.3s ease;
        }

        .navigation-bar a { 
            color: white;
            text-decoration: none;
            padding: 1%;
            transition: 0.2s ease;
        }

        .navigation-bar a:hover { 
            color: white;
            transition: 0.2s ease;
        }

    /*Body Styles*/

    /*Layout for Homepage, Membership, and Join Us page - Start*/
        .image-box {
            margin-top: -4.37%;
            margin-left: 0.13%;
            margin-right: 0.13%;
            grid-row: 3/6;
            grid-column: 1/5;
            background-image: url(../images/stock1.jpg);
            background-position: center;
            background-size: cover;
            color: white;
            text-align: center;
            padding: 20%;
        }

        .CloudLine {
            margin-top: -15%;
            margin-bottom: 50%;
            font-family: 'Josefin Sans', sans-serif;
        }

        .content-box {
            grid-row: 6/8;
            grid-column: 1/5;
            background-image: url(../images/back_pattern.png);
            background-repeat: repeat;
            color: black;
            height: 100%;
            padding: 2%;
        }

        .content-box h1 {
            text-align: center;
            font-family: 'Josefin Sans', sans-serif;
        }

        .mini-box1 {
            width: 20%;
            position: absolute;
            left: 5%;
            background-color: rgba(118, 118, 118, 0.6);
            padding: 3%;
            text-align: center;
            font-family: 'Josefin Sans', sans-serif;
        }
        
        .mini-box2 {
            width: 20%;
            position: absolute;
            left: 37%;
            background-color: rgba(118, 118, 118, 0.6);
            padding: 3%;
            text-align: center;
            font-family: 'Josefin Sans', sans-serif;
        }

        .mini-box3 {
            width: 20%;
            position: absolute;
            left: 69%;
            background-color: rgba(118, 118, 118, 0.75);
            padding: 3%;
            text-align: center;
            font-family: 'Josefin Sans', sans-serif;
        }
        /*Layout for Homepage, Membership, and Join Us page - End */

        /*Layout for Booking page - Start*/
        .navigation-barV2 {
            grid-row: 1/2;
            grid-column: 1/5;
            background-color: #FC4445;
            font-size: 1.8vw;
            padding: 1%;
            padding-top: 2%;
            padding-bottom: 3.2%;
            height: 100%;
            text-align: center;
            font-family: 'Josefin Sans', sans-serif;
        }

        .navigation-barV2 a { 
            color: white;
            text-decoration: none;
            padding: 1%;
            transition: 0.2s ease;
        }

        .navigation-barV2 a:hover { 
            color: white;
            transition: 0.2s ease;
        }

        .content-boxV2 {
            grid-row: 3/6;
            grid-column: 1/5;
            background-image: url(../images/back_pattern.png);
            background-repeat: repeat;
            margin-top: -1%;
            color: black;
            height: 100%;
            padding: 2%;
        }

        .image-boxV2 {
            grid-row: 6/10;
            grid-column: 1/5;
            background-image: url(../images/stock1.jpg);
            background-position: center;
            background-size: cover;
            color: white;
            text-align: center;
            padding: 20%;
        }
        /*Layout for Booking page - End*/

    /*Footer Styles*/
        .footer {
            grid-row: 8/10;
            grid-column: 1/5;
            background-color: #767676;
            text-align: center;
            padding-top: 1.5%;
            font-size: 2vw;
            font-family: 'Josefin Sans', sans-serif;
        }

        /*Footer for Booking page*/
        .footerV2 {
            position: absolute;
            bottom: -78%;
            height: 10%;
            padding-top: 2%;
            padding-bottom: -2%;
            background-color: #767676;
            text-align: center;
            width: 100%;
            font-size: 2vw;
            font-family: 'Josefin Sans', sans-serif;
        }
}

/*TABLET*/ @media only screen and (min-width:768px) and (max-width:1024px){
    /*Fonts*/
    @import url();
    /*Font Library
    *Place fonts here*
    */

    /*HTML Styles*/
    
    /*Nav Styles*/

    /*Body Styles*/

    /*Footer Styles*/

}

/*DESKTOP*/ @media only screen and (min-width:1025px){
    /*Fonts*/
    @import url();
    /*Font Library
    *Place fonts here*
    */

    /*HTML Styles*/

    /*Nav Styles*/

    /*Body Styles*/

    /*Footer Styles*/

}

