@charset "UTF-8";

/*MOBILE*/ @media only screen and (min-width:300px) and (max-width:767px) {
    /*Fonts*/
    @import url('https://fonts.googleapis.com/css?family=ABeeZee|Amatic+SC|Fredoka+One|Abel|Dosis|Nanum+Gothic|Quicksand&display=swap');
    /*Font Library*
    font-family: 'Amatic SC', cursive;
    font-family: 'ABeeZee', sans-serif;
    font-family: 'Fredoka One', cursive;

    font-family: 'Nanum Gothic', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Abel', sans-serif;
    *Place fonts here*/
   

    /*HTML Styles*/
        * {
            padding: 0;
            margin: 0;
        }

        .grid-container {
            display: grid;
            grid-template-rows: 5% 10% 20% 20% 20% 10% 20% 7% 1% 1%;
            grid-template-columns: 25% 25% 25% 25%;
            width: 100%;
        }

    /*Nav Styles*/
        .navigation-bar {
            grid-row: 1/2;
            grid-column: 1/5;
            background:linear-gradient( rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.158));
            font-size: 1.8vw;
            padding: 1%;
            padding-top: 2%;
            height: 110%;
            text-align: center;
            font-family: 'Josefin Sans', sans-serif;
            z-index: 4;
        }

        .navigation-logo {
            width: 55px;
            left: 10px;
            top: 0px;
            position: absolute;
            transition: 0.3s ease;
            z-index: 4;
        }

        .navigation-logo:hover {
            width: 50px;
        }

        .navigation-bar a.a { 
            color: white;
            text-decoration: none;
            transition: 0.2s ease;
            right: 120px;
            position: absolute;
            top: 8px;
            font-family: 'Fredoka One', cursive;
            border-radius: 5px;
        }

        .navigation-bar a.b { 
            color: white;
            text-decoration: none;
            transition: 0.2s ease;
            right: 54px;
            position: absolute;
            top: 8px;
            font-family: 'Fredoka One', cursive;
            border-radius: 5px;
        }

        .navigation-bar a.c { 
            color: white;
            text-decoration: none;
            transition: 0.2s ease;
            right:10px;
            position: absolute;
            top:8px;
            font-family: 'Fredoka One', cursive;
            border-radius:5px;
        }

        .navigation-bar a:hover { 
            border: 1px solid  rgb(240, 243, 52);
            color: rgb(252, 255, 55);
            transition: 0.2s ease;
            padding:1.5px;
        }

    /*B
    top:5px;ody Styles*/

    /*Layout for Homepage, Membership, and Join Us page - Start*/

        ul {
            list-style:none;
        }
        .image-box {
            margin-top: -4.37%;
            margin-left: 0.13%;
            margin-right: 0.13%;
            grid-row: 1/2;
            grid-column: 1/5;
            background-image: url(../IMGS/7.jpg);
            background-position: center;
            background-size: cover;
            color: white;
            text-align: center;
            padding: 20%;
            z-index:2;
        }

        .CloudLine {
            margin-top: -15%;
            margin-bottom: 50%;
            font-family: 'Josefin Sans', sans-serif;
        }

        .content-box {
            grid-row: 3/6;
            grid-column: 1/5;
            background-image: url(../IMGS/back_pattern.png);
            background-repeat: repeat;
            color: black;
            height: 145%;
            padding: 2%;
        }

        .mini-box2 {
            width: 20%;
            position: absolute;
            left: 5%;
            background-color:rgba(226, 114, 69, 0.75);
            padding: 3%;
            text-align: center;
            font-family: 'Amatic SC', cursive;
            z-index:6;
            top: 360px;
            color:white; 
            height:5px;
            border-radius:0px 0px 50px 50px;
        }

        .mini-box2:hover {
            width: 20%;
            position: absolute;
            left: 5%;
            background:linear-gradient( rgba(243, 83, 20, 0.815) 50%, rgba(252, 95, 32, 0.75) 0%);
            padding: 3%;
            text-align: center;
            font-family: 'Amatic SC', cursive;
            top: 360px;
            height:205px;
            color:white;
            transition:.7s ease;
            z-index:6;
            border: 2px solid rgb(231, 84, 26);
            border-top:0px;
        }
        
        .mini-box1 {
            width: 20%;
            position: absolute;
            left: 37%;
            padding: 3%;
            background-color:rgb(118, 118, 118, 0.75);
            text-align: center;
            font-family: 'Amatic SC', cursive;
            top: 360px;
            color: white;
            height:5px;
            z-index:7;
            border-radius:0px 0px 50px 50px;
        }

        .mini-box1:hover {
            width: 20%;
            position: absolute;
            left: 37%;
            background: linear-gradient( rgba(0, 0, 0, 0.781) 40%, rgba(0, 0, 0, 0.466) 0%);
            padding: 3%;
            text-align: center;
            font-family: 'Amatic SC', cursive;
            top: 360px;
            height:240px;
            transition:.7s ease;
            z-index:7;
            color:white;
            border:2px solid grey;
            border-top:0px;
        }

        .mini-box3 {
            width: 20%;
            position: absolute;
            left: 69%;
            background-color:rgba(255, 243, 79, 0.75);
            padding: 3%;
            text-align: center;
            font-family: 'Amatic SC', cursive;
            top: 360px;
            color: white;
            height:5px;
            border-radius:0px 0px 50px 50px;
        }

        .mini-box1-2 {
            width: 20%;
            position: absolute;
            left: 5%;
            top: 84.5%;
            padding: 2.5%;
            font-size: 2vw;
            text-align: center;
            color: white;
            font-family: 'Amatic SC', cursive;
            background-color: #7676769a;
            border-radius: 10px 10px 10px 10px;
        }

        .mini-box2-2 {
            width: 20%;
            position: absolute;
            font-size: 2vw;
            left: 39%;
            top: 82%;
            padding: 2%;
            text-align: center;
            color: white;
            font-family: 'Amatic SC', cursive;
            background-color: #7676769a;
            border-radius: 10px 10px 10px 10px;
        }

        .mini-box3-2 {
            width: 20%;
            position: absolute;
            left: 70%;
            font-size: 2vw;
            top: 85%;
            height:50px;
            padding: 3%;
            text-align: center;
            color: white;
            font-family: 'Amatic SC', cursive;
            background-color: #7676769a;
            border-radius: 10px 10px 10px 10px;
        }

        .mini-box3:hover {
            width: 20%;
            position: absolute;
            left: 69%;
            background:linear-gradient( rgba(251, 255, 31, 0.781) 40%, rgba(255, 230, 0, 0.74) 0%);
            padding: 3%;
            text-align: center;
            font-family: 'Amatic SC', cursive;
            top: 360px;
            height:250px;
            color:white;
            transition:.7s ease;
            z-index:7;
            border: 2px solid rgba(255, 230, 0, 0.74);
            border-top:0px;
        }
        /*Layout for Homepage, Membership, and Join Us page - End */

        /*Layout for Booking page - Start*/
        .navigation-barV2 {
            grid-row: 1/2;
            grid-column: 1/5;
            background-color: #FC4445;
            font-size: 1.8vw;
            padding: 1%;
            padding-top: 2%;
            padding-bottom: 3.2%;
            height: 100%;
            text-align: center;
            font-family: 'Josefin Sans', sans-serif;
        }

        .navigation-barV2 a { 
            color: white;
            text-decoration: none;
            padding: 1%;
            transition: 0.2s ease;
        }

        .navigation-barV2 a:hover { 
            color: white;
            transition: 0.2s ease;
        }

        .content-boxV2 {
            grid-row: 3/6;
            grid-column: 1/5;
            background-image: url(../IMGS/back_pattern.png);
            background-repeat: repeat;
            margin-top: -1%;
            color: black;
            height: 150%;
            padding: 2%;
        }

        .image-boxV2 {
            grid-row: 6/10;
            grid-column: 1/5;
            background-image: url(../IMGS/stock1.jpg);
            background-position: center;
            background-size: cover;
            color: white;
            text-align: center;
            padding: 20%;
        }
        /*Layout for Booking page - End*/

    /*Footer Styles*/
        .footer {
            grid-row: 8/9;
            grid-column: 1/5;
            background-color: #767676;
            color: white;
            font-size: 2.5vw;
            position: absolute;
            left: 0;
            bottom: -30%;
            padding: 3%;
            width: 94.02%;
            font-family: 'Fredoka One', cursive;
            top:600px;
            height:20px;
        }

        .footerH {
            grid-row: 8/9;
            grid-column: 1/5;
            background-color: #767676;
            color: white;
            font-size: 2.5vw;
            position: absolute;
            left: 0;
            bottom: -50%;
            padding: 3%;
            width: 94.02%;
            font-family: 'Fredoka One', cursive;
            height:20px;
        }

        .footera {
            grid-row: 8/9;
            grid-column: 1/5;
            background-color: #767676;
            color: white;
            font-size: 2.5vw;
            position: absolute;
            left: 0;
            bottom: -30%;
            padding: 3%;
            width: 94.02%;
            font-family: 'Fredoka One', cursive;
            top:640px;
            height:20px;
            border-top:10px solid rgb(28, 38, 128);
        }

        .footerJ {
            grid-row: 8/9;
            grid-column: 1/5;
            background-color: #767676;
            color: white;
            font-size: 2.5vw;
            position: absolute;
            left: 0;
            bottom: -30%;
            padding: 3%;
            width: 94.02%;
            font-family: 'Fredoka One', cursive;
            top:540px;
            height:20px;
            border-top:10px solid rgb(255, 198, 41);
        }

        .footerN {
            float: left;
            font-size: 3vw;
        }

        .contact-us {
            text-decoration: none;
            color: white;
            left: 72%;
            position: absolute;
            font-size: 2vw;
            padding-top: 0.3%;
        }

        .contact-info {
            grid-row: 2/6;
            grid-column: 1/5;
            background-image: url(../IMGS/back_pattern.png);
            background-repeat: repeat;
            padding-left: 5%;
            height: 250%;
            margin-top: 5.3%;
        }

        .contact-usL{
            font-size: 5vw;
            font-family: 'Fredoka One', cursive;
        }

        .facebook {
            width: 2.5%;
            clear: both;
            position: absolute;
            left: 95%;
            padding-top: 0.3%;
            border-radius: 3px;
        }

        .facebook:hover {
            width: 3.5%;
            clear: both;
            position: absolute;
            left: 95%;
            padding-top: 0.1%;
            transition:.5s ease;
        }

        .twitter {
            width: 2.5%;
            clear: both;
            position: absolute;
            left: 90%;
            padding-top: 0.3%;
            border-radius: 3px;
        }

        .twitter:hover {
            width: 3.5%;
            clear: both;
            position: absolute;
            left: 90%;
            padding-top: 0.1%;
            transition:.5s ease;
        }

        .instagram {
            width: 2.5%;
            clear: both;
            position: absolute;
            left: 85%;
            padding-top: 0.3%;
        }

        .instagram:hover {
            width: 3.5%;
            clear: both;
            position: absolute;
            left: 85%;
            padding-top: 0.1%;
            transition:.5s ease;
        }

        /*Footer for Booking page*/
        .footerV2 {
            position: absolute;
            bottom: -78%;
            height: 10%;
            padding-top: 2%;
            padding-bottom: -2%;
            background-color: #767676;
            text-align: center;
            width: 100%;
            font-size: 2vw;
            font-family: 'Josefin Sans', sans-serif;
        }
}

/*TABLET*/ @media only screen and (min-width:768px) and (max-width:1024px){
    /*Fonts*/
    @import url();
    /*Font Library
    *Place fonts here*
    */

    /*HTML Styles*/
    
    /*Nav Styles*/

    /*Body Styles*/

    /*Footer Styles*/

}

/*DESKTOP*/ @media only screen and (min-width:1025px){
    /*Fonts*/
    @import url();
    /*Font Library
    *Place fonts here*
    */

    /*HTML Styles*/

    /*Nav Styles*/

    /*Body Styles*/

    /*Footer Styles*/

}

